<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Projects
                    <div class="pull-right">
                        <a href="#/project/new">New</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Owner</th>
                                <th>Client</th>
                                <th>Name</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th>Due Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="project in projects">
                                <td>{{ project.owner.name }}</td>
                                <td>{{ project.client.name }}</td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.progress }}</td>
                                <td>{{ project.status }}</td>
                                <!--
                                    Essa é a maneira crua de formatar a data, a outra
                                    maneira é criando um filtro personalizado.
                                    - ../filters/dateBr.js
                                    <td>{{ project.due_date | date: 'dd/mm/yyyy'}}</td>
                                -->
                                <td>{{ project.due_date | dateBr }}</td>
                                <td>
                                    <a ng-href="#/project/{{ project.project_id }}/notes" role="button">
                                        Notes
                                        <span class="badge">{{ project.notes.length }}</span>
                                    </a> |
                                    <a ng-href="#/project/{{ project.project_id }}/edit" role="button">Edit</a> |
                                    <!-- <a ng-href="#/project/{{ project.project_id }}/delete" role="button">Delete</a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
