<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Project Notes
                    <div class="pull-right">
                        <a href="#/projects">Projects</a>
                        <a href="#/project/{{ project_id }}/notes/new">New</a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="note in notes">
                                <td>{{ note.title }}</td>
                                <td>
                                    <a ng-href="#/project/{{ project_id }}/notes/{{ note.id }}/edit" role="button">Edit</a> |
                                    <a ng-href="#/project/{{ project_id }}/notes/{{ note.id }}/delete" role="button">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
